.biorhythm-bg{
    background: url('../imgs/bg4.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 450px;
    background-position: center;
    display: flex;
    padding: 50px;
    justify-content: end;
    align-items: center;
}

.biorhythm-bg div{
    width: 50%;
}

.biorhythm-container {
    padding: 50px;
    background-color: rgb(232 238 244);
}

.biorhythm-container h4 {
    text-align: left;
}

@media screen and (max-width:600px) {
    .biorhythm-bg{
        justify-content: center;
    }

    .biorhythm-bg div{
        width: 100%;
    }
}