a{
    text-decoration: none;
    color: white;
}

.header-container{
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:5px 50px ;
}

.header-container ul {
    display: flex;
    list-style: none;
    align-items: center;
}

.header-container ul li{
    color: white;
    margin-right: 20px;
}

@media screen and (max-width:600px) {
    .header-container{
        flex-direction: column;
    }

    .header-container ul{
        flex-direction: column;
        padding-left: 0px;
    }
}